html{}

body{background: url('http://www.happymondaze.co.uk/images/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
background-color: #fcee23; font-family: 'Arial Black', Arial;}

h1 {font-weight; 900 !important;}

#video {margin-top: 20px;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.social{height: 60px; background-color: #333333;}

.social h1{text-align: center; padding-top: 10px; color: white; font-weight: 900;}

.sectitle {color: #fcee23; margin-bottom: 20px; font-weight: 900 !important;}

#subtitle{background-color: #8A8A8A; margin: 15px 0px 15px 0px; padding: 10px;}

#responsive{text-align: left; font-weight: 900; color: white; vertical-align: middle; margin: 0px;}

.gig{color: white; font-weight: 900; margin-bottom: 15px; margin-left: 0px; white-space: nowrap;}



.dg {background-color: #333333; margin-top: 40px;}

@media(max-width:767px){.sectitle {padding-top: 10px;}
#qoutes {padding: 0px 0px 8px 0px;}
 .gig{white-space: normal;}

}



#qoutes {padding: 20px 10px 25px 10px;}

.qoute {color: white; font-weight: normal;}

a {text-decoration: none !important;}

a:link, a:visited {color:white;}       

a:hover, a:active  {color:#fcee23;} 

a.yellow:link, a.yellow:visited, a.yellow:hover, a.yellow:active {color:#fcee23;}  

a.white:link, a.white:visited, a.white:hover, a.white:active {color:white;}  

   .yellow {color:#fcee23;}


blockquote {
    border-left: none;
line-height: 1.2;
}

.gig-info h2{white-space: nowrap;}



