body{font-family: 'Arial Black', Arial;}



body{
    background:url('http://www.happymondaze.co.uk/images/bg.png') no-repeat center center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
    height:100%;
    /*position:fixed;*/
    width:100%;
    z-index:-1;
    top:0;
  background-color: #fcee23;}

h1 {font-weight; 900 !important;}

#video {margin-top: 20px;}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

p {color: white; font-size: 2em; line-height: 1.3em; margin-bottom: 1.2em;}


@media(max-width:767px){.paragraph {font-size: 1.2em;}}
  
@media (max-width: @screen-sm-min){
.paragraph {font-size: 1.8em;}}

@media (min-width: @screen-md-min) {.paragraph {font-size: 2.2em;}}

.body {color: white;}

.social{height: 60px; background-color: #333333;}

.social h1, h2 {text-align: center; padding-top: 10px; color: white; font-weight: 900; white-space: nowrap;}

.sectitle {color: #fcee23; margin-bottom: 20px; font-weight: 900 !important;}

#subtitle{background-color: #8A8A8A; margin: 15px 0px 15px 0px; padding: 10px;}

#responsive{text-align: left; font-weight: 900; color: #333333; vertical-align: middle; margin: 0px; padding-top: 10px; padding-bottom: 10px;}

.gig{color: white; font-weight: 900; margin-bottom: 15px; margin-left: -10px; white-space: nowrap;}

.read-more-show, .read-more-hide {font-size: 2.5em; text-align: center;}

.dg {background-color: #333333; margin-top: 40px;}

.lg {background-color: #7b7b7a; margin-top: 40px;}

@media(max-width:767px){.sectitle {padding-top: 10px;}
#qoutes {padding: 0px 0px 8px 0px;}
 .gig{white-space: normal;}

.gig-info h2{font-size: 14px;}}



#qoutes {padding: 20px 10px 25px 10px;}

.qoute {color: white; font-weight: normal;}

a {text-decoration: none !important;}

a:link, a:visited {color:white;}       

a:hover, a:active  {color:#fcee23;} 

a.yellow:link, a.yellow:visited, a.yellow:hover, a.yellow:active {color:#fcee23;}  

a.white:link, a.white:visited, a.white:hover, a.white:active {color:white;}  

   .yellow {color:#fcee23;}


blockquote {
    border-left: none;
line-height: 1.2;
}

.gig-info h2{white-space: nowrap;}


.gigdetail{font-size: 18px; font-weight: 900; text-align: left;}

.moredetail {margin-left: -25px;}

.venue{margin-left: 40px;}

.marginreset{margin-left: 0px}

@media(max-width:767px){.venue{margin-left: 12px;}

  .hide {
  display: none;}
  
#fixed .slider-size {
    height: 1000px;
    width: 100%;
  }


  
